@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:wght@100;400&display=swap');

.dietContainer{
    width: 599px;
    height: 553px;
    background: #3D3072;
    box-shadow: 0px 8px 38px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    overflow: auto;
}
.dietMain{
    display: flex;
    padding: 25px;
}
.circle {
    position: relative;
    border: 2px solid #999;
    border-radius: 100%;
    width: 9px;
    height: 9px;
    text-align: center;
    margin-top: 200px;
    background-color: #fff;
    z-index: 2;
}
.circle:first-child {
    margin-top: 0;
}
.circle:before {
    position: absolute;
    border: 1px solid #999; 
    width: 0;
     height: 200px;
    display: block;
    content: '';
    left: 50%;
    z-index: 1; 
    top: 10px;
    margin-left: -1px;
}

.currentDay{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    align-items: center;
    text-align: right;
    letter-spacing: 0.3px;
    color: #F3F0FF;
}
.currentDayContainer div:not(:first-child) {
    margin-top: 192px;
}
.currentDayContainer{
    margin: 1px 9px 0 10px;
}
.currentDayContainer{
    margin-top: 25px;
}

.currentCircle{
    margin-top: 25px;
}
.dietPlanContainer{
    margin-left: 10px;
    margin-top: 54px;
}

.currentTimeToEat{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: #F3F0FF;
}
.currentMeal{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-top: 7px;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.3px;
    color: #F3F0FF;
}

.dietContainer::-webkit-scrollbar {
    width: 5px;
    background: rgba(196, 196, 196, 0.34);
  }
  
  .dietContainer::-webkit-scrollbar-thumb {
    background: linear-gradient(94.18deg, #3F83E9 0.44%, #31D6E0 99.61%);
    border-radius: 10px;
  }











  /*
!!!!
This pen is being refactored
!!!!
*/

/*
=====
DEPENDENCES
=====
*/

.r-title{
    margin-top: var(--rTitleMarginTop, 0) !important;
    margin-bottom: var(--rTitleMarginBottom, 0) !important;
  }
  
  
  p:not([class]){
    line-height: var(--cssTypographyLineHeight, 1.78);
    margin-top: var(--cssTypographyBasicMargin, 1em);
    margin-bottom: 0;
  }
  
  p:not([class]):first-child{
    margin-top: 0;
  }
  
  /*
  text component
  */
  
  .text{
    display: var(--textDisplay, inline-flex);
    font-size: var(--textFontSize, 1rem);  
  }
  
  /*
  time component
  */
  
  /*
  core styles
  */
  
  .time{
    display: var(--timeDisplay, inline-flex);
  }
  
  /*
  extensions
  */
  
  .time__month{
    margin-left: var(--timelineMounthMarginLeft, .25em);
  }
  
  /*
  skin
  */
  
  .time{
    padding: var(--timePadding, .25rem 1.25rem .25rem);
    background-color: var(--timeBackgroundColor, #f0f0f0);
  
    font-size: var(--timeFontSize, .75rem);
    font-weight: var(--timeFontWeight, 700);
    text-transform: var(--timeTextTransform, uppercase);
    color: var(--timeColor, currentColor);
  }
  
  /*
  card component
  */
  
  /*
  core styles
  */
  
  .card{
    padding: var(--timelineCardPadding, 1.5rem 1.5rem 1.25rem);
  }
  
  .card__content{
    margin-top: var(--cardContentMarginTop, .5rem);
  }
  
  /*
  skin
  */
  
  .card{
    border-radius: var(--timelineCardBorderRadius, 2px);
    border-left: var(--timelineCardBorderLeftWidth, 3px) solid var(--timelineCardBorderLeftColor, var(--uiTimelineMainColor));
    box-shadow: var(--timelineCardBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
    background-color: var(--timelineCardBackgroundColor, #fff);
  }
  
  /*
  extensions
  */
  
  .card__title{
    --rTitleMarginTop: var(--cardTitleMarginTop, 1rem);
    font-size: var(--cardTitleFontSize, 1.25rem);
  }
  
  /*
  =====
  CORE STYLES
  =====
  */
  
  .timeline{
    display: var(--timelineDisplay, grid);
    grid-row-gap: var(--timelineGroupsGap, 2rem);
  }
  
  /*
  1. If timeline__year isn't displaed the gap between it and timeline__cards isn't displayed too
  */
  
  .timeline__year{
    margin-bottom: 1.25rem; /* 1 */
  }
  
  .timeline__cards{
    display: var(--timeloneCardsDisplay, grid);
    grid-row-gap: var(--timeloneCardsGap, 1.5rem);
  }
  
  
  /*
  =====
  SKIN
  =====
  */
  
  .timeline{
    --uiTimelineMainColor: var(--timelineMainColor, #222);
    --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);
  
    border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  
  .timeline__year{
    --timePadding: var(--timelineYearPadding, .5rem 1.5rem);
    --timeColor: var(--uiTimelineSecondaryColor);
    --timeBackgroundColor: var(--uiTimelineMainColor);
    --timeFontWeight: var(--timelineYearFontWeight, 400);
  }
  
  .timeline__card{
      background: transparent;
    position: relative;
    margin-left: var(--timelineCardLineGap, 1rem);
  }
  .customazations{
      border: 2px solid rgba(49, 214, 224, 0.4);
      border-radius: 6px;
      margin-bottom: 50px;
  }
  
  /*
  1. Stoping cut box shadow
  */
  
  .timeline__cards{
    overflow: hidden;
    padding-top: .25rem; /* 1 */
    padding-bottom: .25rem; /* 1 */
  }
  
  .timeline__card::before{
    content: "";
    width: 100%;
    height: var(--timelineCardLineWidth, 2px);
    background-color: var(--timelineCardLineBackgroundColor, var(--uiTimelineMainColor));
  
    position: absolute;
    top: var(--timelineCardLineTop, 1rem);
    left: -50%;
    z-index: -1;
  }
  
  /*
  =====
  SETTINGS
  =====
  */
  /**/
  .timeline{
    --timelineMainColor: rgba(49, 214, 224, 0.4);;
  }
  
  /*
  =====
  DEMO
  =====
  */
  .card__content>p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-top: 7px;
    font-weight: normal;
    font-size: 16px;
    align-items: center;
    letter-spacing: 0.8px;
    color: #F3F0FF;
  }
  .card__header>time{
      background: rgba(49, 214, 224, 0.4) ;
  }
  
  p:last-child{
    margin-bottom: 0;
  }
  
  .page{
    max-width: 47rem;
    padding: 5rem 2rem 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .substack{
    border:1px solid #EEE; 
    background-color: #fff;
    width: 100%;
    max-width: 480px;
    height: 280px;
    margin: 1rem auto;;
  }
  
  
  .linktr{
    display: flex;
    justify-content: center;
    background-color: rgb(209, 246, 255);
    padding: 2rem;
    text-align: center;
  }
  
  .linktr__goal{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(8, 49, 112);
    box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
    border-radius: 2rem;
    padding: .5rem 1.25rem;
  }
  
  .r-link{
      --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
      --uirLinkTextColor: var(--rLinkTextColor);
      --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  
      display: var(--uirLinkDisplay) !important;
      color: var(--uirLinkTextColor) !important;
      text-decoration: var(--uirLinkTextDecoration) !important;
  }