@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:wght@100;400&display=swap');

.quote{ 
    display: block;
    width: 70%;
    height: 1057px;
    background: rgba(34, 22, 81, 0.6);
    box-shadow: 0px 8px 38px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
};
.mainform{
    display: flex;
    justify-content: center;
}
.formmain{
    display: flex;
    justify-content: center;
}
.quoteContainer{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.getQuoteContainerForm{
    margin-top: 60px;
    width: 70%;
}
.textCustomField > div::after {
    width: 100% !important;
}
.getQuoteContainerForm > div > div > input {
    width: 100% !important;
    height: 2.4375em !important;
}
.getQuoteContainerForm > div {
    width: 100%;
    margin-top: 30px;
}
.getQuoteContainerForm > div > label{
    height: 100% !important;
}
.kgelbcontainer > div > div > input {
    width: 100% !important;
    height: 2.4375em !important;
}
.kgelbcontainer > div {
        width: 100%;
    margin-top: 30px;
}
.kgelbcontainer > div > label{
    height: 100% !important;
}
.kgelbcontainer{
    position: relative;
}

.kgelbcontainer > span {
    display: flex;
    justify-content: space-between;
    background: #F8F8F8;
    border-radius: 20px;
    width: 154px;
    height: 34px;
    position: absolute;
    top: 54px;
    right: 0px;
}
.kgActive{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px rgba(17, 16, 67, 0.2);
    width: 50%;
    border-radius: 20px;
    background: linear-gradient(94.18deg, #3F83E9 0.44%, #31D6E0 99.61%);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.lbsDeactive{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #31D6E0;
}
.kgDeactive{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #F8F8F8;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #31D6E0;
}
.lbsActive {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    background: linear-gradient(94.18deg, #3F83E9 0.44%, #31D6E0 99.61%);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #F8F8F8;
}

.getQuoteMessage > div {
    width: 100% !important;
}
.messageCustomFieldGetQuote > div {
    width: 100% !important;
}
.getQuoteFormSubmitButton{
    position: relative;
    margin-top:  80px !important;
    display: flex;
    justify-content: center;
}
.multipleIlnessSelect {
    opacity: 0.6;
}
.multipleIlnessSelect > div {
    margin: 8px 0 0px 0 !important;
}
.multipleIlnessSelect > div > label {
    color: #F8F8F8 !important;
    font-size: 19px !important;
}
.multipleIlnessSelect > div > div > svg {
    display: none;
}
.multipleIlnessSelect > div > div  {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #F8F8F8;
}
.MuiPaper-root {
    background: #221651 !important;
}
.MuiPaper-root::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(196, 196, 196, 0.34);
 }
  
  .MuiPaper-root::-webkit-scrollbar-thumb {
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50px;
    background-color: #31D6E0;
  }
.multipleIlnessSelect > div > div > fieldset {
    border: none !important;
    border-bottom: 1px solid #F8F8F8 !important;
    border-radius: revert !important;
}
.MuiListItemText-root{
    color: rgba(196, 196, 196, 0.34) !important ;
}
.getQuoteErrorMessage{
    position: absolute;
    top: -35px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: rgba(233, 89, 88, 1);
    line-height: 17px;
}
@media screen and (max-width : 768px) {
    .quote {
      width: 95% !important;
    }
  }
  
.quoteText{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    margin-top: 40px;
    line-height: 145.9%;
    text-align: center;
    color: #F8F8F8;
};

