@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

.weGiceAGuaranteeContainer{
    display: flex;
    justify-content: space-between;
    padding: 55px;
}
.guaranteeContainer{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    align-items: center;
}
.headerGuarantee{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #FDFDFD;
}
.guaranteeText{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 80%;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #FDFDFD;
    opacity: 0.85;
}
.vitaminImage > img {
    width: 820px;
    height: 820px;
}

@media screen and (max-width : 1200px) {
    .weGiceAGuaranteeContainer{
        display: block;
    }
    .guaranteeText{
        width: 100%;
    }
    .vitaminImage{
        display: flex;
        justify-content: center;
    }
    .vitaminImage > img {
        width: 580px;
        height: 580px;
    }
  }
  @media screen and (max-width : 769px ) {
    .vitaminImage > img{
        width: 380px;
        height: 380px;
    }
  }