@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:wght@100;400&display=swap');

.userContainer{
    width: 1400px;
    height: 1000px;
    margin-top: 100px;
    background: #221651;
    opacity: 0.6;
    box-shadow: 0px 8px 38px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.userProfileHeader{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 145.9%;
    text-align: center;
    color: #F8F8F8;
}
.currentDietId{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 145.9%;
    text-align: center;
    color: #F8F8F8;
}
.dietAndDietPlan{
    display: flex;
    justify-content: space-around;
}