@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:wght@100;400&display=swap');

.userContainer{
    width: 95%;
    height: 1000px;
    margin-top: 100px;
    background: rgba(34, 22, 81, 0.6);
    box-shadow: 0px 8px 38px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.userProfileHeader{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 145.9%;
    text-align: center;
    color: #F8F8F8;
}
.currentDietId{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 145.9%;
    text-align: center;
    color: #F8F8F8;
}
.currentDietId > span {
    margin-left: 10px;
}
.dietAndDietPlan{
    display: flex;
    justify-content: space-around;
}
.weekAndStartWeightContainer{
    display: flex;
    padding: 60px 0px 40px 82px;
}
.weekCurrent{
    display: table;
    justify-content: center;
    text-align: center;
    width: 154px;
    height: 42px;
    background: linear-gradient(94.18deg, #3F83E9 0.44%, #31D6E0 99.61%);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 145.9%;
    color: #F8F8F8;
}
.weekCurrent > span {
    display: table-cell;
    vertical-align: middle;
}
.startWeight{
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    display: table;
    font-weight: normal;
    font-size: 22px;
    line-height: 145.9%;
    color: #F8F8F8;
    opacity: 0.8;
}
.startWeight > span {
    display: table-cell;
    vertical-align: middle;
}
.startWeight > span > span {
    margin-left: 20px;
}
.downloadGetNextContainer{
    display: flex;
    justify-content: space-around;
    width: 43%;
    padding: 35px 0px 0px 31px;
}
.download{
    width: 214px;
    height: 58px;
    border-radius: 10px;
    display: flex;
    border: 3px solid #31D6E0;
}
.donwloadIcon{
    cursor: pointer;
    margin: 1px 0px 0px 2px;
    width: 50px;
    height: 50px;
    background: linear-gradient(94.18deg, #3F83E9 0.44%, #31D6E0 99.61%);
    border-radius: 6px;
    display: flex;
    justify-content: center;
}
.donwloadIcon>img{
    margin-top: 6px;
    width: 22px;
    height: 35px;
}
.downloadText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #F8F8F8;
}
@media screen and (max-width : 1200px) {
    .dietAndDietPlan{
        display: grid;
    }
    .userContainer{
        height: 100%;
    }
    .dietCurrenetWrapper{
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    .downloadGetNextContainer{
        margin-top: 25px;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
        padding: 0;
    }
    .download{
        margin-right: 19px;
    }
    .weekAndStartWeightContainer{
        display: flex;
        justify-content: center;
        padding: 25px;
    }
    .userContainer{
        width: 90%;
    }
  }
  
  @media screen and (max-width : 768px) {
    .dietContainer{
        width: 100%;
    }
    .dietWrapper{
        display: flex;
        justify-content: center;
    }
    .downloadGetNextContainer{
        display: grid;
        grid-gap: 15px;
    }
    .dietPlansContainer {
        width: 100%;
    }
    .maxLosed{
        font-size: 23px;
    }
    .weekAndStartWeightContainer{
        display: grid;
        grid-gap: 10px;
    }
    .currentDietId{
        display: block;
    }
    .startWeight{
        margin-left: 0px;
    }
  }
  