@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:wght@100;400&display=swap');

.contactUsMainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.contactUs{
    width: 1168px;
    height: 541px;
    background: rgba(34, 22, 81, 0.6);
    box-shadow: 0px 8px 38px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.contacUsHeader{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 145.9%;
    text-align: center;
    color: #F8F8F8;
}

.textCustomField > div::after{
    border-bottom: 1px solid rgb(248, 248, 248,0.5);
    width: 420px;
}
.textCustomField > label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 15px;
    color: #F8F8F8 !important;
    opacity: 0.8;
}
.textCustomField > div > input {
    font-family: 'Montserrat', sans-serif;
    color: #F8F8F8 !important;
    width: 20em;
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.credentials{
    width: 50%;
}
.field{
    margin-top: 30px;
}
.messageCustomField > div{
    margin-top: 10px;
    width: 420px;
    height: 184px;
    opacity: 0.5;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    border-radius: 10px;
}
.messageCustomField > label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #F8F8F8 !important;
    opacity: 0.8;
    height: 20px !important;
}
.messageCustomField > div > textarea {
    font-family: 'Montserrat', sans-serif;
    color: #F8F8F8 !important;
}

.messageCustomField > div > textarea {
    height: 100%;
}

.messageCustomField > div > textarea{
	overflow: auto;
	overflow-x: hidden;
}
.messageCustomField > div > textarea::-webkit-scrollbar-track{
	background-color: rgba(196, 196, 196, 0.34);
}

.messageCustomField > div > textarea::-webkit-scrollbar{
	width: 6px;
	background-color: rgba(196, 196, 196, 0.34);
}
.messageCustomField > div > textarea::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #31D6E0;
}
.contatUsSubmit{
    margin-top: 70px;
    display: flex;
    justify-content: center;
};
.emailMessage {
    padding-top: 2px;
    color: rgba(231, 85, 120, 1);
};