@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:wght@100;400&display=swap');

.dietPlansContainer{
    width: 481px;
    height: 553px; 
    background: #382D65;
    opacity: 1;
    box-shadow: 0px 8px 38px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.dietPlansHeader{
    font-family: 'Poppins', sans-serif;
    margin-top: 23px;
    margin-left: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 145.9%;
    color: #F8F8F8;
}
.PaidDietConatiner{
    display: flex;
    justify-content:space-around ;
    margin-top: 23px;
    background: rgba(49, 214, 224, 0.1)
}
.paidIcon{
    width: 60px;
}
.currentWeekPaid{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 145.9%;
    color: #F8F8F8;
}
.weekAndStartWeight{
    margin-top: 7px;
}
.weightStart{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 145.9%;
    text-align: right;   
    color: #F8F8F8;
    opacity: 0.9;
}
.weightStart>span{
    opacity: 1;
    margin-left: 5px;
}
.awaitingDietContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}
.getDietIcon{
    width: 50px;
    height: 26px;
    border: 2.5px solid rgba(49, 214, 224, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 13px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 145.9%;
    color: #F8F8F8;
}
.awaitingCurrentWeek{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 145.9%;
    color: rgba(248, 248, 248, 1);
}
.awaitingCurrentWeek{
    margin-right: 74px;
}
.getDietIcon:hover {
    color: #31D6E0 ;
    transition: 0.5s;
}
